@font-face {
    font-family: 'miFont';
    src: url('mi-font.woff') format("woff");
}

.miFont {
    font-family: 'miFont';
    font-size: 14px;
    font-style: normal;
}

.miFont-tool:before {
    content: '\E634';
}

.miFont-7:before {
    content: '\E635';
}

.miFont-15:before {
    content: '\E636';
}

.miFont-gift:before {
    content: '\E638';
}

.miFont-location:before {
    content: '\E637';
}

.miFont-cart:before {
    content: '\E60C';
}

.miFont-search::before {
    content: '';
}

.miFont-arrow-right::before {
    content: '\E623';
}

.miFont-arrow-left::before {
    content: "\E628";
}

.miFont-circle-arrow-right:before {
    content: "\E615";
}

.miFont-play:before {
    content: "\E601";
}